// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Import Bootstrap for Sass
@import "bootstrap";

/***
	Table of Contents

	1.	Globals
		1.1	Content
	2.	Colours
	3.	Dropdown forms
	4.	Images
***/

/* 1. Globals */

// Define custom font
body {
	font-family: "Open Sans", sans-serif;
}

header,
footer {
	min-height: 100px;
	padding: 1rem 0;
}

header,
footer {
	background: lighten($brand-secondary, 50%);
}

.navbar {
	border-radius: 0;
}

.affix {
	top: 0;
}

.affix-bottom {
	position: absolute
}

footer {
	border-top: 1px solid lighten($brand-secondary, 40%);
}

section {
	padding-bottom: 1em;
}

.logo a {
	background: url("../images/header_logo.png") top left no-repeat;
	display: block;
	width: 285px;
	height: 83px;
}

footer p {
	margin: 3rem 0 2rem;
	font-size: .875em;
}

/* 1.1 Content */

.content h2 {
	font-weight: 700;
	color: $brand-secondary;
}

.blog-style li {
	border-bottom: 1px solid #eee;
	overflow: hidden !important;
	margin-top: 1rem;
	padding-bottom: 1rem;

	h2 {
		margin-top: 0;
	}
}

.blog-style-thumb {
	padding-right: 10px;
	width: 20%;
	float: left;
}

.blog-style-excerpt {
	float: left;
	width: 80%;
}

.date {
	font-size: rem-calc(12px);
	font-style: italic;
}

/* 2. Colours */

.celest {
	color: $brand-primary;
}

.bright-blue {
	color: $bright-blue;
}

.gold {
	color: $brand-secondary;
}

/* 3. Dropdown forms */

.drop-form {
	padding: .5em;
}
.drop-form * {
	margin: .5em 0;
}

/* 4. Images */
